/* ------- Google font-------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* -----------Global style--------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #f2f2f2;
}

.container{
    width:100% ;
    max-width: 1200px;
    margin: 0 auto;
}

/* ---------------Header Section Start --------------- */
header{
    width: 100%;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: #ffffff;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0 ;

}
.nav_items{
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    color: #ffffff;
    text-decoration: none;
}
.navbar a:hover{
    color:#ddd ;
}
/* ------------Header Section End ------------ */

/* ------------Hero Section Start ------------ */
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("https://koa.com/blog/images/family-camping-at-sunset.jpg?preset=heroimagecropped");
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
}

.hero .overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.hero .content {
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero .content h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero .content .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content a {
    margin: 0 10px;
    padding: 10px 30px;
    display: block;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.content a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
}
/* ------------Hero Section End ------------ */

/* -----------Services Section Start ----------- */
.services{
    padding: 80px 0 0;
}
.services h2{
    font-size: 2rem;
}
.services h2 , .services p{
    text-align: center;
}
section .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
}
section .cards .card {
    background: #fff;
    padding: 40px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
}
.services .card img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
}
/* -----------Services Section End ----------- */
